.outterBox{
    background-color: lightgray;
    color: black;
    border-radius: 10px;
    max-width:300px;
    /* min-width: 220px; */
    min-height: 350px;
    max-height: 350px;
    padding: 20px;
    margin: auto;

    /* overflow:auto; */
}
.innerBox{
    
    /* max-width:200px; */
    min-width: 200px;
    max-height: 260px;
    /* min-height: 270px; */
    overflow-y: scroll;
}

.noteBox{
    background-color: whitesmoke;
    padding: 8px;
    min-height: 5px;
    width: 230px;
    /* min-width: 200px; */
    margin: 5px;
}
.marginBot{
    padding: 5px;
    bottom: 0px;
    
}

.check{
    float: right;
}
.inputsz{
    width: 80%;
}